<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.11/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" type='text/css' href="{{url_for('static',filename='src/app.css')}}">
    <title>{% block title %}{{ app_info.name }}{% endblock title %}</title>
</head>
<body>
    <div data-theme='dark' class='h-screen w-screen'>
        <div class='grid grid-cols-12 h-screen grid-rows-[auto_1fr_auto]'>
            <header class='row-auto col-span-12 py-6'>
                {% block header %}
                {% endblock header %}
            </header>

            <div class='col-span-12 grid grid-cols-12 overflow-auto'> 

                <nav class='col-span-2'>
                    {% block leftcol %}
                    {% endblock leftcol %}

                    <!-- Navigation -->
                </nav>

                <main class='col-span-8 overflow-auto p-8'>
                    {% block main %}
                    {% endblock main %}

                    <!-- Main content -->
                </main>

                <aside class='col-span-2'>
                    {% block rightcol %}
                    {% endblock rightcol %}

                    <!-- Sidebar / Ads -->
                </aside>

            </div>

                {% block footer %}
                {% endblock footer %}
            </footer>
        </div>
    </div>
</body>
</html>