{% extends "base.html" %}

{% block header %}
    {% include '_header.html' %}
    <script type='application/javascript'>
        const params = new URLSearchParams(window.location.search)
        const approvalRequired = params.has('type', 'AccountTransferWorkflowHumanInLoop')
        const listen = () => {

            const eventSource = new FetchEventSource(`/sub/{{id}}`);
            eventSource.addEventListener('open', () => console.log('SSE Open'));
            eventSource.addEventListener('error', (err) => console.log('SSE Error', err));
            eventSource.addEventListener('message', (e) => {
                let data = JSON.parse(e.data)
                console.log('data', data)

                let progressEl = document.querySelector('#progress')
                let radialProgressEl = document.querySelector('#radial-progress')
                let totalAmountCentsEl = document.querySelector('.total-amount-cents')
                let transactionStatusEl = document.querySelector('.transaction-status')
                let approvalFormEl = document.querySelector('.approval-form')
                let chargeIdEl = document.querySelector('.charge-id')

                progressEl.setAttribute('value', data.progressPercentage)
                radialProgressEl.setAttribute('style','--value:' + data.progressPercentage+';')
                radialProgressEl.innerHTML = `${data.progressPercentage}%`
                console.log('SSE Data', e.data)
                transactionStatusEl.innerHTML = data?.transferState
                let states = {
                    'starting': 'badge-ghost',
                    'finished': 'badge-accent',
                    'running': 'badge-primary',
                }
                const badges = Object.keys(states).map(key => states[key]);
                console.log('badges', badges)
                transactionStatusEl.classList.remove(...badges)
                transactionStatusEl.classList.add(states[data?.transferState])
                chargeIdEl.innerHTML = data.chargeResult.chargeId

                if(approvalRequired){
                    approvalFormEl.removeAttribute('disabled')
                    approvalFormEl.classList.remove('hidden')
                } else {
                    approvalFormEl.setAttribute('disabled','disabled')
                    approvalFormEl.classList.add('hidden')
                }

                if (data.failure) {
                    transactionStatus.innerHTML = 'failed'
                    failure.innerHTML = data.failure
                    alertError.classList.remove('hidden')
                    transactionStatus.classList.add('badge-error')
                }
            });
        }
        document.addEventListener("DOMContentLoaded", listen);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fetch-event-source@1.0.0-alpha.2/index.min.js"></script>

{% endblock header %}

{% block main %}

<div class="flex flex-col gap-8 p-4 rounded-md items-center border border-primary">

    <header class='text-2xl flex-auto w-full flex'>
        <h2 class='text-center w-full flex-auto'>
            <span>Money Transfer</span>
        </h2>
    </header>
    <div class='flex-auto'>
        <div id='radial-progress' class="radial-progress" style="--value:0;" role="progressbar">0%</div>
        <progress id='progress' class="progress progress-primary w-56" value="0" max="100"></progress>
    </div>

    <div class='grid grid-cols-2 gap-8 gap-y-4 m-12'>
        <span class='text-right italic'>Location</span>
        <a href='{{url_for_workflow(id)}}' class='link link-accent' target='_blank'>{{id}}</a>
        <span class='text-right  italic'>Status</span>
        <span class='transaction-status badge'>running</span>
        <span class='text-right  italic'>Amount</span>
        <span class='total-amount-cents'></span>
        <span class='text-right  italic'>Charge ID</span>
        <span class='charge-id'></span>
    </div>
    <div role="alert" class="alert alert-error hidden">
        <span class='failure'></span>
    </div>

</div>


{% endblock main %}

{% block leftcol %}
    {% include '_nav.html' %}
{% endblock leftcol %}

{% block rightcol %}
<form action='/approvals/{{id}}' method='post' class="approval-form hidden border border-secondary p-4 rounded-md card-normal">
    <fieldset>
        <input type='hidden' name='_METHOD' value='PUT'/>
        <button class='btn btn-primary'>Approve Transfer</button>
    </fieldset>
</form>
{% endblock rightcol %}

{% block footer %}
<footer>
    <div></div>
</footer>
{% endblock footer %}